<md-card>
  <md-card-title>
    <md-card-title-media>
      <md-icon class="md-media-sm margin-r15" md-svg-src="<%= image_url("icons/angular.svg") %>"></md-icon>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline"><%= object %></span>
      <span class="md-subhead"><%= model.model_name.human %></span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content class="margin-l80">
    <md-list>
<% attributes.each do |attribute| %>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
          <h3><%= attribute[:human_name] %></h3>
          <p><%= object[attribute[:name]] %></p>
        </div>
      </md-list-item>
<% end %>
    </md-list>
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <% if policy(object).destroy? %>
      <md-button
        href="<%= polymorphic_path(object) %>"
        data-method="delete"
        data-title="<%= t('confirmation_required', scope: :crud_views) %>"
        data-confirm="<%= t('are_you_sure', scope: :crud_views) %>"
        class="md-small" >
        <md-tooltip md-direction="top">
          <%= t('delete_resource', scope: :crud_views, resource: model.model_name.human) %>
        </md-tooltip>
        <ng-md-icon icon="delete" size="16"></ng-md-icon>
      </md-button>
    <% end -%>

    <% if policy(object).edit? %>
      <md-button
        href="<%= polymorphic_path(object, action: 'edit') %>"
        class="md-fab md-warn md-fab-bottom-right"
        aria-label="Profile">
        <md-tooltip md-direction="left">
          <%= t('edit_resource', scope: :crud_views, resource: model.model_name.human) %>
        </md-tooltip>
        <md-icon ng-md-icon icon="mode_edit" style="fill: #fff"></md-icon>
      </md-button>
    <% end -%>
  </md-card-actions>
</md-card>
