<%#= devise_error_messages! %>

<md-card class="padding-15" md-whiteframe-z1>
  <%= form_for resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-inline', role: 'form'} do |f| %>
    <md-card-content>
      <div class="md-subhead">
        <%= t 'forgot_your_password', scope: [:devise, :passwords, :new] %>
      </div>

      <!-- <div class="md-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestias culpa ipsum, a voluptates ab ad delectus officia
      </div> -->

      <md-input-container class="md-block">
        <!-- <label>E-Mail</label> -->
        <!-- <input ng-model="user.email" type="email" required> -->
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>

      </md-input-container>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button
        type="submit"
        class="md-raised md-default">
        <%= t('reset_password', scope: [:devise, :passwords, :new]) %>
      </md-button>
      <!-- <md-button
        href="<%= new_session_path(resource_name) %>"
        class="md-raised md-default">
        <%= t('cancel', scope: [:devise, :shared, :links]) %>
      </md-button> -->

    </md-card-actions>
  <% end %>
</md-card>

<%= render "devise/shared/links" %>
