<%#= devise_session_flash! %>

<md-card class="padding-15 md-whiteframe-7dp">
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'loginForm'} do |f| %>
    <md-card-content>
      <md-input-container class="md-block">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
        <!-- <input
          ng-model="user.email"
          ng-pattern="/^.+@.+\..+$/"
          type="email"
          name="email"
          md-no-asterisk
          required /> -->

        <!-- <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-message-exp="['required','pattern']">
            Your email must look like an e-mail address.
          </div>
        </div> -->
      </md-input-container>

      <md-input-container class="md-block">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <!-- <input
          ng-model="user.password"
          type="password"
          name="password"
          minlength="8"
          md-no-asterisk
          required /> -->
        <!-- <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message-exp="['required','minlength']">
            Your password must have at least 8 characters.
          </div>
        </div> -->
      </md-input-container>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, {'ng-model': 'rememberMe', 'style': 'display:none'} %>
        <md-checkbox ng-model="rememberMe" class="md-primary" aria-label="Remember password">
          <%= t('remember_me', scope: [:activerecord, :attributes, :user])%>
        </md-checkbox>
      <% end -%>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center center">
      <md-button type="submit" class="md-raised md-primary">Login</md-button>
    </md-card-actions>
  <% end %>
</md-card>

<%= render "devise/shared/links" %>
