<%% content_for :view_title do %>
  <%%= <%= class_name %>.model_name.human(count: 2) %>
<%% end %>

<%% content_for :view_menu do %><%% end %>

<div ng-controller="<%= plural_table_name.camelize %>IndexCtrl as indexCtrl">
  <md-card>
    <%%= render partial: "shared/index/search_toolbar", locals: {search_path: <%= plural_table_name %>_path} %>
    <%%= render partial: "shared/index/data",
                locals: {
                  model: <%= class_name %>,
                  attributes: [
  <%- attributes.reject(&:password_digest?).each do |attribute| -%>
                    {name: '<%= attribute.name %>', human_name: <%= class_name %>.human_attribute_name('<%= attribute.name %>')},
  <%- end -%>
                  ],
                  records: @<%= plural_table_name %>
                } %>
  </md-card>

  <%%= render partial: "shared/index/pagination", locals: {records: @<%= plural_table_name %>} %>
  <%%= render partial: "shared/index/actions", locals: {model: <%= class_name %>} %>
</div>

<%% content_for :js_rails_data do %>
<script type="text/javascript">
  var rails_data = {
    'resource': {
      'singular_name': '<%= singular_table_name %>',
      'plural_name': '<%= plural_table_name %>',
    },
    'action_name': '<%%= action_name %>'
  }
</script>
<%% end %>
