<%%= show_error_messages!(@<%= singular_table_name %>) %>

<div class="container"<%%# ng-controller="<%= plural_table_name %>NewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <%% if policy(<%= class_name %>).index? %>
        <%%= link_to <%= class_name %>.model_name.human(count: 2), <%= plural_table_name %>_path %>
      <%% else %>
        <%%= <%= class_name %>.model_name.human(count: 2) %>
      <%% end -%>
    </li>
    <li class="active"><%%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper"<%%# ng-controller="<%= plural_table_name %>NewCtrl" %>>
  <%%= render 'form' %>
</div>
