<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('title', scope: :mailer) %></title>
</head>
<body>
  <div style="width: 540px; border: solid 1px #dadada; padding: 20px; border-radius:5px; background-color: #fafafa; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2) inset">
    <%#= image_tag attachments['logo-latam.png'].url %>
    <p><%= t('dear_user', scope: :mailer) %>:</p>

    <p><%= t('instruction', scope: [:devise, :mailer, :reset_password_instructions]) %>:</p>

    <p><%= link_to t('action', scope: [:devise, :mailer, :reset_password_instructions]), edit_password_url(@resource, reset_password_token: @token) %></p>

    <hr>

    <p><%= t('instruction_2', scope: [:devise, :mailer, :reset_password_instructions]) %></p>

    <p><%= t('instruction_3', scope: [:devise, :mailer, :reset_password_instructions]) %></p>

    <p style="color: #999">
      <%= raw t('html', scope: [:mailer, :bye]) %>
      <br>
      <small style="font-size: 0.9em">
        <%= raw t('html', scope: [:mailer, :dont_respond]) %>
      </small>
    </p>
  </div>
</body>
</html>
