  <body class="no-padding background-city">
    <div class="warning">

      <!--[if lt IE 7]>
      <p>
        Estás utilizando un navegador <strong>desactualizado</strong>.
        Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> o
        <a href="http://www.google.com/chromeframe/?redirect=true">activa Google Chrome Frame</a>
        para mejorar tu experiencia de navegación.
      </p>
      <![endif]-->

      <noscript>
        <p>
          <%= t('no_javascript', scope: :header) %> </br>
          <a href="http://www.enable-javascript.com/es/">
            <%= t('activate_javascript', scope: :header) %>
          </a>
        </p>
      </noscript>
    </div><!-- .warning -->

    <div class="header">
      <div class="header-logo"></div>
      <div class="header-title">
        <%= t('title', scope: :header) %>
      </div>

      <%# unless Rails.env.production? %>
      <!-- LANGUAGE DROPDOWN SELECT -->
      <div class="pull-right dropdown" id="no-login-language-dropdown">
        <%= link_to '#', data: { toggle: 'dropdown' }, class: 'header-dropdown-link' do %>
          <% if params[:locale].present? %>
            <%= image_tag "flags/#{params[:locale]}.png", alt: "#{params[:locale]}", id: 'locale-flag' %>
          <% else -%>
            <%= image_tag "flags/es-CL.png", alt: "es-CL", id: 'locale-flag' %>
          <% end -%>

          <b class="caret"></b>
          <ul class="dropdown-menu">
            <% unless params[:locale] == "es-CL" %>
            <li>
              <%= link_to locale: 'es-CL' do %>
                <%= image_tag "flags/es-CL.png", alt: "es-CL", id: 'locale-flag' %> <%= t('es_cl', scope: [:top_menu, :languages]) %>
              <% end -%>
            </li>
            <% end -%>
            <% unless params[:locale] == "pt-BR" %>
            <li>
              <%= link_to locale: 'pt-BR' do %>
                <%= image_tag "flags/pt-BR.png", alt: "pt-BR", id: 'locale-flag' %> <%= t('pt_br', scope: [:top_menu, :languages]) %>
              <% end -%>
            </li>
            <% end -%>
            <% unless params[:locale] == "en" %>
            <li>
              <%= link_to locale: 'en' do %>
                <%= image_tag "flags/en.png", alt: "en", id: 'locale-flag' %> <%= t('en_us', scope: [:top_menu, :languages]) %>
              <% end -%>
            </li>
            <% end -%>
          </ul>
        <% end -%>
      </div>
      <%# end -%>

    </div>
