<!DOCTYPE html>
<html lang="en" class="app">

<!-- HEADER -->
<%= render "layouts/header" %>
<!-- END OF HEADER -->

<body ng-app="app">
  <div class="app" layout="row" layout-fill ng-controller="BaseController as base">
    <!-- MENU -->
    <%= render "layouts/menu" %>
    <!-- END OF MENU -->

    <div layout="column" flex>

      <!-- TOOLBAR -->
      <%= render "layouts/toolbar" %>
      <!-- END OF TOOLBAR -->

      <!-- ALERTS -->
      <%= render "layouts/alerts" %>
      <!-- END OF ALERTS -->

      <!-- CONTENT -->
      <%= render "layouts/content" %>
      <!-- END OF CONTENT -->
    </div>
  </div>

  <!-- SCRIPTS -->
  <%= render "layouts/scripts" %>
  <!-- END OF SCRIPTS -->
</body>
</html>
